@charset "UTF-8";
/* CSS Document */
/*#main{
	height:100%;
	width:100%;
	}
#td1{
	margin-left:10px;
	}
#td2{
	margin-left:550px;
	margin-right:30px;
	}
#td3{
	margin-left:50px;
	margin-right:30px;
	}
#td4{
	margin-left:50px;
	margin-right:30px;
	}
#td5{
	margin-left:50px;
	margin-right:30px;
	}
#td6{
	margin-left:50px;
	margin-right:30px;
	}*/
table{
	cell-padding: 0px;
	cell-spacing: 0px;
	}
#td2{
	/*float: center;*/
	margin-left: 905px;
	}
/*
#td3{
	margin-left: 50px;
	margin-right: 0px;
	}
#td5{

	}
#td4{
	margin-left: 40px;
	margin-right: 40px;
	}
#td6{
	margin-left: 20px;
	}*/

#ohwell{
	background-color: #E6E6FA;
	color: #000000;
	padding-left: 35%;
	float: none;
	font-size: 20px;
	text-align: left;

}
