@charset "UTF-8";
/* CSS Document */
body{
	background:#000;
	color:#F60;
	font-size: 18px;	}
#logo{
	text-align:center;}
#navbar{
	inline-box-align:initial;
	text-align:center;}
img{
	padding-left:14px;
	padding-right:14px;}
#left{
	text-align:center;
	float:left;
	width:200px;
	height:1100px;
	margin-left:20px;
	padding-right: 20px;
	border-right-width: thick;
	border-right-style: solid;
	border-right-color:#FFF;
	}
#right{
	text-align:center;
	float:right;
	width:510px;
	height:1100px;
	margin-right:25x;
	border-left-width: thick;
	border-left-style: solid;
	border-left-color:#FFF;
	padding-right: 10px;
	}
	
	#r1{float:right;
	width:150px;
	background:#666;
	margin-right:5px;
	border-color:#6CF;
	border-width:thick;
	
}
	#r2{float:right;
	width:150px;
	background:#666;
	margin-right:5px;
	border-color:#6CF;
	border-width:thick;
	
	
}
	#r3{float:right;
	width:150px;
	background:#666;
	margin-right:5px;
	border-color:#6CF;
	border-width:thick;
	}

	#archive{
	visibility: visible;
	height:100px;
	
	text-align:left;
	float:right;
  	width:150px;
	margin-top:20px;
	margin-right:15px;
	}
		#mostviewed{
	margin-top: 120px;
	visibility: visible;
	margin-right:180px;
	margin-left:185px;
	height:100px;
	width:150px;
	text-align:center;
	

	}
	#mostheard{
	visibility: visible;
	height:100px;
	
	width:150px;
	text-align:left;
	float:left;
	width:150px;
	margin-left:25px;
	margin-top:20px;
	}
	  ul{list-style-type: none;}
	
.ter{
	height: 500px;
	width:500px;
	margin:12px;
	text-align:center;
	
	}
	#ret{
		text-align:left;}

footer{background: #A8A8A8 ;
	visibility: 10%;
	width: 100%;
	height: 50px;
	color: #000;
	position: absolute;
	margin-bottom: 10px;
display: block;
padding-bottom: 10px;
}
#nyu{
	text-align: center;
	margin-left:400px;

}
#MIT{
	float: 0px auto; 
	font-size: 20px;
	
	text-align: center;
	
	margin-left: 375px;
	margin-right: 600px;
	align: center;
}

#we{
	
	text-align: left;
}
